/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root { 
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --rec: 'rec';
  --bulb: url(../images/circl.svg);
}
